@use "sass:color";
@use "../variables" as *;

.dataset-view-structure {
    max-height: 40vh;
    overflow: scroll;
}

.image-generic-outer-wrapper {
    outline: 1px solid color.adjust($faded-color, $lightness: 5%);
    border-radius: 2*$border-radius;
    min-width: 150px;
    min-height: 220px;
    // background-color: lightgreen;

    &:hover {
        outline: 2px solid $faded-color;
    }

    .image-generic-inner-wrapper {
        height: 100%;
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-columns: 100%;
        // background-color: plum;

        &>* {
            height: 100%;
            width: 100%;
        }
        .image-generic-title {
            margin: 10px 0 0 10%;
        }
        .image-generic-content {
            margin: 0;
            // background-color: powderblue;
            display: flex;
            align-items: center;
            justify-content: center;

            .display-item {
                width: 100%;
                height: 100%;
                // background-color: palevioletred;
                display: flex;
                justify-content: center;
                align-items: center;

                .display-image{
                    height: 90%;
                    width: 90%;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;

                    img.display-img {
                        max-height: 100%;
                        // transform: translateY(-5%);
                    }
                }
            }
        }
    }
}

.dataset-compose-form {
    [data-tabs-trigger] {
        border-radius: 5px;
        border: 1px solid var(--bulma-text-soft);
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        width: 100%;

        &[aria-selected="true"] {
            border-color: var(--bulma-link);
            color: var(--bulma-link);
            font-weight: bold;
            background-color: hsl(var(--bulma-light-h), var(--bulma-light-s), var(--bulma-light-l)) !important;
        }

        &:hover {
            border-color: var(--bulma-link);
        }
    }

    .dropper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        pointer-events: none;
    }

    .dataset-reuse-toggle {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;

        [data-toggle-root] {
            border-radius: var(--bulma-radius);
            border: 1px solid var(--bulma-text-soft);
            padding: 0.5rem;
            background-color: var(--bulma-background);

            &[aria-pressed="true"] {
                border-color: var(--bulma-link);
                color: var(--bulma-link);
                font-weight: bold;
                background-color: hsl(var(--bulma-light-h), var(--bulma-light-s), var(--bulma-light-l)) !important;
            }
        }
    }
}