<tr data-component="{{ component }}">
    <td><strong>{{ component|capfirst }}</strong></td>
    <td>
        {% if component != "mask" %}
        <label class="checkbox">
            <input id="freeze-{{ component }}" type="checkbox" class="freeze-checkbox" data-component="{{ component }}">
            <span class="checkmark"></span>
        </label>
        {% endif %}
    </td>
    <td>
        <div class="field">
            <div class="control">
                <div class="select is-small full-width">
                    {% include "dticlustering/init-dropdown.html" %}
                </div>
            </div>
        </div>
    </td>
</tr>
