{% load shared_tags %}
<div class="control">
    {% if field.help_text %}
        <div class="help pb-2">{{ field.help_text }}</div>
    {% endif %}
    {% for radio in field %}
        <label class="radio" {% if radio.data.value == "" %}disabled{% endif %} for="{{ radio.id_for_label }}">
            <input type="radio" name="{{ radio.data.name }}" id="{{ radio.id_for_label }}" value="{{ radio.data.value }}" {% include "includes/form/attrs.html" with widget=radio.data %}>
            {% if field.field.widget.option_label_template_name %}
                {% include field.field.widget.option_label_template_name %}
            {% else %}
                {{ radio.choice_label }}
            {% endif %}
        </label>
        <br>
    {% endfor %}
</div>
